---
import Layout from "../../../layouts/Main.astro";
import Search from "../../../components/Search.astro";
import * as Icon from "@astropub/icons";

import { getCollection } from "astro:content";
import { books } from "./_books";

type Props = {
  title: string;
  description: string;
};

const { book } = Astro.params;

const data = books.find((data) => data.params.book == book);

if (!data) return Astro.redirect("/404");

const pages = await getCollection("wizard", ({ id, data }) => {
  return id.startsWith(book!) && !data.draft;
});

const pagesFormatted = pages.map((page) => ({
  params: {
    slug: page.slug,
  },
  props: {
    title: page.data.title,
    description: page.data.description,
  },
}));
---

<Layout {...data.props}>
  <section class="my-[16rem] space-y-16 text-center 2xl:text-left">
    <h1 class="font-work text-[5rem] leading-[5rem]">{book}</h1>
    <h2 class="text-[2rem] tracking-widest 2xl:text-[1.2rem]">
      {data.props.description}
    </h2>
  </section>
  <section>
    <Search
      placeholder="search chapters here."
      listed={true}
      path="/wizard"
      data={pagesFormatted}
    />
  </section>
</Layout>
