# build output
dist/

# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

# pnpm
pnpm-lock.yaml

# sst Files
stage
sst.config.ts
.sst.config.*
cdk.context.json
debug.log
outputs.json
.sst/

# vscode
.vscode/
