---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
import Header from '../sections/Header.astro';
import Introduction from '../sections/Introduction.astro';
import Faq from '../sections/Faq.astro';
import Footer from '../sections/Footer.astro';
---

<Layout title="Welcome to Astro.">
	<main data-toggle-cursor="false">
		<div class="cursor">
			<div class="pointer"></div>
			<!-- <div class="ping"></div> -->
		</div>
		<Nav />
		<Header />
		<Introduction />
		<Faq />
		<Footer />
	</main>
</Layout>

<script src="../scripts/index.ts"></script>
