---
import Layout from "../layouts/Main.astro";
---

<Layout>
  <section class="flex min-h-[75vh] items-center font-work">
    <h1 class="text-[3rem] font-light">
      Hello, I'm Guido. a developer focused in get more and more acknowledge.
    </h1>
  </section>
  <section
    class="grid grid-cols-1 items-center justify-items-center gap-32 md:grid-cols-3"
  >
    <a href="/wizard">
      <h4 class="text-[2rem]">Wizard's Grimoire</h4>
      <p>My magical library where I write books about the spells I learn.</p>
    </a>
    <a href="/wizard">
      <h4 class="text-[2rem]">Wizard's Grimoire</h4>
      <p>My magical library where I write books about the spells I learn.</p>
    </a>
    <a href="/wizard">
      <h4 class="text-[2rem]">Wizard's Grimoire</h4>
      <p>My magical library where I write books about the spells I learn.</p>
    </a>
  </section>
  <section class="mt-64 grid grid-cols-1 gap-16 xl:grid-cols-4">
    <div class="space-y-16 font-work text-[3rem] xl:col-span-3">
      <p>
        I'm 21 years old back-end creativity developer always improving my
        professional.
      </p>
      <p>
        Actually work in a enterprise called <a href="#">Icaro Tech</a> located in
        Campinas, Brazil.
      </p>
      <p>
        I've had a huge passion for technology since I was little, and currently
        I'm only seeing it grow.
      </p>
      <p>I want to show everyone what I've been learning through this site.</p>
    </div>
    <div class="space-y-8 text-[1.2rem] xl:-order-1">
      <p class="flex flex-col">
        <span class="font-semibold">certifications</span>
        <a href="https://verify.openedg.org/?id=xAKS.p9Xc.1msv"
          >PCEP – Certified Entry-Level Python Programmer</a
        >
      </p>
    </div>
  </section>
</Layout>
