---
import Layout from '../layouts/Layout.astro';
import ElemInit from '../components/ElemInit';
import ElemSecond from '../components/ElemSecond';
---

<Layout title="Guido Eduardo">
	<main class="h-screen w-screen justify-center items-center">
		<ElemInit client:visible />
		<ElemSecond client:visible />
	</main>
</Layout>
