---
import Layout from "../layouts/Main.astro";
---

<Layout>
  <section
    class="leading-[13.25rem] flex flex-col w-screen h-screen justify-center items-center font-sixcaps text-[16rem]"
  >
    <span>GUIDO</span>
    <span>GUIDO</span>
  </section>
</Layout>
