---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card';
---

<Layout title="Guido Eduardo">
	<main class="flex h-screen w-screen justify-center items-center">
		<ul role="list" class="link-card-grid">
			<Card client:visible />
		</ul>
	</main>
</Layout>
