---
import Layout from "../../layouts/Main.astro";
import Search from "../../components/Search.astro";
---

<Layout title="Rainforest" description="A place I use as a second brain, venture into this forest.">
  <section class="my-[16rem] space-y-16 text-center xl:text-left">
    <h1 class="font-serif text-[5rem] leading-[5rem]">rainforest</h1>
    <h2 class="text-[2rem] tracking-widest xl:text-[1.2rem]">
      A place I use as a second brain, venture into this forest.
    </h2>
  </section>
  <section class="text-[2rem] xl:text-[1.5rem] font-serif">
    under construction
  </section>
</Layout>
