---
import HamburgerMenuIcon from "@astropub/icons/HamburgerMenu";
import GitHubLogoIcon from "@astropub/icons/GitHubLogo";
import TwitterLogoIcon from "@astropub/icons/TwitterLogo";
import ChatBubbleIcon from "@astropub/icons/ChatBubble";
import { TWITTER_URL, GITHUB_URL, EMAIL } from "../consts";
---

<header class="flex w-full justify-center">
  <div
    id="menu-nav"
    class="fixed flex hidden h-screen w-screen justify-center bg-primary"
  >
    <div
      class="flex w-9/12 flex-col items-center justify-center gap-16 py-16 text-[2rem] xl:w-8/12 xl:flex-row xl:items-end xl:justify-between"
    >
      <ul class="text-center xl:text-left">
        <li><a href="/wizard">wizard's grimoire</a></li>
        <li><a href="/rainforest">rainforest</a></li>
        <li><a href="/island">island</a></li>
      </ul>
      <ul class="flex gap-4">
        <li>
          <a href={GITHUB_URL}><GitHubLogoIcon size="1x" /></a>
        </li>
        <li>
          <a href={TWITTER_URL}><TwitterLogoIcon size="1x" /></a>
        </li>
        <li>
          <a href={`mailto:${EMAIL}`}><ChatBubbleIcon size="1x" /></a>
        </li>
      </ul>
    </div>
  </div>
  <nav class="fixed flex w-9/12 justify-between py-16 font-work 2xl:w-8/12">
    <a href="/"><b>guido</b>eduardo</a>
    <div class="cursor-pointer" onclick="toggleNav()">
      <HamburgerMenuIcon size="1.2x" title="" />
    </div>
  </nav>
</header>

<script is:inline>
  const menuNav = document.getElementById("menu-nav");
  let openNav = false;

  const toggleNav = () => {
    if (openNav) {
      menuNav.classList.add("hidden");
      openNav = false;
    } else {
      menuNav.classList.remove("hidden");
      openNav = true;
    }
  };

  window.addEventListener("resize", () => {
    if (openNav) {
      menuNav.classList.add("hidden");
      openNav = false;
    }
  });
</script>
