---
import Post from "./Post.astro";
---

<div class="grid grid-cols-1 lg:grid-cols-3 2xl:grid-cols-4 gap-8 items-center">
  <div class="flex flex-col space-y-8">
    <Post title="welcome to my blog." date="2023-04-25" />
    <Post title="I read a book called Algorithms." date="2023-04-25" />
    <Post
      title="testing this blog pattern to put in my website thank you..."
      date="2023-04-25"
    />
  </div>
  <div class="flex flex-col space-y-8">
    <Post title="my beautiful content to you." date="2023-04-25" />
    <Post title="we need talk about design patterns..." date="2023-04-25" />
    <Post title="just thinking." date="2023-04-25" />
  </div>
  <div class="flex flex-col space-y-8">
    <Post
      title="testing the interface of my website posts."
      date="2023-04-25"
    />
    <Post title="lambda function in python." date="2023-04-25" />
    <Post title="what is clojure?" date="2023-04-25" />
  </div>
  <div class="flex flex-col space-y-8">
    <Post title="still testing this" date="2023-04-25" />
    <Post title="Lorem Ipsum maybe? I don't know what type" date="2023-04-25" />
    <Post
      title="Doesn't have that least of posts a a a a a a"
      date="2023-04-25"
    />
  </div>
</div>
