---
import Section from "../components/Section.astro";
---

<Section className="faq" id="faq">
  <div class="faq__content">a</div>
</Section>

<style>
  .faq__content {
    width: 100vw;
    height: 100vh;
    background-color: rgb(10, 10, 10);
  }
</style>
