---
import Section from "../components/Section.astro";
---

<Section className="footer" id="footer">
    <div class="footer__content"></div>
</Section>

<style>
    .footer__content {
        width: 100vw;
        height: 100vh;
        background-color: rgb(10, 10, 10);
    }
</style>