---
import Section from "../components/Section.astro";
---

<Section className="projects">
  <div class="projects__content">
    <div class="projects__list">
      <a href="#" class="projects__item"></a>
      <a href="#" class="projects__item"></a>
      <a href="#" class="projects__item"></a>
      <a href="#" class="projects__item"></a>
      <a href="#" class="projects__item"></a>
      <a href="#" class="projects__item"></a>
    </div>
  </div>
</Section>
