---
import Layout from "../../layouts/Main.astro";
import Search from "../../components/Search.astro";
import { books } from "./[book]/_books";
---

<Layout title="Wizard's Grimoire" description="Teste">
  <section class="my-[16rem] space-y-16 text-center xl:text-left">
    <h1 class="font-serif text-[5rem] leading-[5rem]">wizard's grimoire</h1>
    <h2 class="text-[2rem] tracking-widest xl:text-[1.2rem]">
      My magical library where I write books about the spells I learn.
    </h2>
  </section>
  <section class="text-[2rem] xl:text-[1.5rem]">
    <Search
      placeholder="search books here."
      listed={false}
      path="/wizard"
      data={books}
    />
  </section>
</Layout>
