---
import Layout from "../../layouts/Main.astro";
import Search from "../../components/Search.astro";
---

<Layout title="Islands" description="Test islands, where I create things to train or learn.">
  <section class="my-[16rem] space-y-16 text-center xl:text-left">
    <h1 class="font-serif text-[5rem] leading-[5rem]">islands</h1>
    <h2 class="text-[2rem] tracking-widest xl:text-[1.2rem]">
      Test islands, where I create things to train or learn.
    </h2>
  </section>
  <section class="text-[2rem] xl:text-[1.5rem] font-serif">
    under construction
  </section>
</Layout>
